<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TinyHouse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TinyHouse.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />




</head>
<body class="bg-dark text-white">
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-light" asp-area="" asp-controller="House" asp-action="Index">TinyHouse</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Admin" asp-action="Dashboard">Admin Paneli</a>
                            </li>
                        }
                        else if (User.IsInRole("EvSahibi"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Ev" asp-action="Dashboard">Ev Sahibi Paneli</a>
                            </li>
                        }
                        else if (User.IsInRole("Kiraci"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="House" asp-action="Rezervasyonlarim">Rezervasyonlarım</a>
                            </li>
                        }

                        @if (User.IsInRole("Kiraci") || User.IsInRole("EvSahibi"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="House" asp-action="Index">Evleri Gör</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Kullanici" asp-action="BakiyeYukle">Bakiye Yükle</a>
                                </li>
                            }

                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Admin" asp-action="KullaniciListesi">
                                    Kullanıcı Listesi
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Payments" asp-action="Index">Ödemeler</a>
                            </li>
                        }
                    </ul>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark text-white">
        <div class="container">
            &copy; 2025 - TinyHouse - <a class="text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 9999">
        @if (TempData["Toast"] != null)
        {
            <div class="toast show align-items-center text-bg-success border-0" role="alert">
                <div class="d-flex">
                    <div class="toast-body">
                        @TempData["Toast"]
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
                </div>
            </div>
        }
    </div>

</body>
</html>
